{% extends 'Default/base.html.twig' %}

{% block body %}
    <div class="web extended">
        <div class="main-menu">
            <div class="wrapper">
                <ul class="menu-sup">
                    <li><h1>Chequemotiva</h1></li>
                    <li><span class="toggle-menu" title="Menú" style="cursor: pointer;"><span class="hide">Menú</span><i class="fa fa-ellipsis-v"></i></span></li>
                </ul>
                <ul class="menu-inf">
                    <li id="cambiar-aplicacion" style="cursor: pointer;">
                        <span title="Cambiar de aplicación"><span class="hide">Cambiar de aplicación</span><i class="fa fa-bars"></i></span>
                        <ul>
                            <li><a href="/option/29" class="show-loading" title="" style="cursor: pointer;">Administración 1</a></li>
                            <li><a href="/option/125" class="show-loading" title="Administración" style="cursor: pointer;">Administración 2</a></li>
                        </ul>
                    </li>
                    <li><a href="/profile" class="show-loading" title="Perfil de usuario" style="cursor: pointer;"><span class="hide">Perfil de usuario</span><i class="fa fa-user"></i></a></li>
                    <li><a href="/logout" class="show-loading" title="Salir" style="cursor: pointer;"><span class="hide">Salir</span><i class="fa fa-sign-out"></i></a></li>
                </ul>
            </div>
            <div class="submenu">
                <span class="cerrar-submenu" style="cursor: pointer;"><i class="fa fa-times"></i></span>
                <h2 class="selected_menu"></h2>
                <h2>Usuarios</h2>
                <ul>
                    <li><a href="/usu/cqm_usu_views_list_users" class="show-loading" title="Listar Usuarios" target="main-iframe" style="cursor: pointer;"><i class="fa fa-chevron-circle-right"></i>Listar Usuarios</a></li>
                    <li><a href="/usu/cqm_usu_views_list_profiles" class="show-loading" title="Perfiles" target="main-iframe" style="cursor: pointer;"><i class="fa fa-chevron-circle-right"></i>Perfiles</a></li>
                    <li><a href="/usu/cqm_usu_views_list_options" class="show-loading" title="Opciones" target="main-iframe" style="cursor: pointer;"><i class="fa fa-chevron-circle-right"></i>Opciones</a></li>
                </ul>
                <h2>Beneficiarios</h2>
                <ul>
                    <li><a href="/bnf/app" class="show-loading" title="Beneficiarios" target="main-iframe" style="cursor: pointer;"><i class="fa fa-chevron-circle-right"></i>Beneficiarios</a></li>
                </ul>
                <h2>Envío de emails</h2>
                <ul>
                    <li><a href="/emails/servers" class="show-loading" title="Envío de emails" target="main-iframe" style="cursor: pointer;"><i class="fa fa-chevron-circle-right"></i>Servidores de correo</a></li>
                    <li><a href="/emails/applications" class="show-loading" title="Aplicaciones" target="main-iframe" style="cursor: pointer;"><i class="fa fa-chevron-circle-right"></i>Aplicaciones</a></li>
                </ul>
                <h2>Contenidos</h2>
                <ul>
                    <li><a href="/cms/content/list" class="show-loading" title="Catálogos" target="main-iframe" style="cursor: pointer;"><i class="fa fa-chevron-circle-right"></i>Contenidos</a></li>
                    <li><a href="/cms/structuredefinition/list" class="show-loading" title="Catálogos" target="main-iframe" style="cursor: pointer;"><i class="fa fa-chevron-circle-right"></i>Estructura definición</a></li>
                    <li><a href="/cms/structurecontent/list" class="show-loading" title="Catálogos" target="main-iframe" style="cursor: pointer;"><i class="fa fa-chevron-circle-right"></i>Estructura datos</a></li>
                </ul>
                <h2>Catálogo</h2>
                <ul>
                    <li><a href="/cms/provider/list" class="show-loading" title="Proveedores" target="main-iframe" style="cursor: pointer;"><i class="fa fa-chevron-circle-right"></i>Proveedores</a></li>
                    <li><a href="/cms/category/list" class="show-loading" title="Categorías" target="main-iframe" style="cursor: pointer;"><i class="fa fa-chevron-circle-right"></i>Categorías</a></li>
                    <li><a href="/cms/product/list" class="show-loading" title="Productos" target="main-iframe" style="cursor: pointer;"><i class="fa fa-chevron-circle-right"></i>Productos</a></li>
                    <li><a href="/cms/application/list" class="show-loading" title="Aplicaciones" target="main-iframe" style="cursor: pointer;"><i class="fa fa-chevron-circle-right"></i>Aplicaciones</a></li>
                    <li><a href="/cms/catalog/list" class="show-loading" title="Catálogos" target="main-iframe" style="cursor: pointer;"><i class="fa fa-chevron-circle-right"></i>Catálogos</a></li>
                </ul>
            </div>
        </div>
        <div class="iframe">
            <iframe id="main-iframe" src=""></iframe>        </div>
    </div>
{% endblock %}