{% extends 'Default/base.html.twig' %}

{% block body %}
    <div class="web">

        <div class="box" id="login">
            <h1>Login</h1>
            <div class="formulario">
                <fieldset>
                    <form method="POST" action="/dologin" autocomplete="off">
                        <label for="username" class="label-input">
                            <span class="label-label">Email</span>
                            <span class="label-contenido">
                                <input type="text" name="_username" id="username" class="inputTexto border-box" placeholder="Email" autofocus="">
                            </span>
                        </label>
                        <label for="password" class="label-input">
                            <span class="label-label">Password</span>
                            <span class="label-contenido">
                                <input type="password" name="_password" id="password" class="inputTexto border-box" placeholder="Password" autocomplete="off">
                            </span>
                        </label>
                        <div class="centrado">
                            <input type="submit" class="boton" value="Acceder">
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}